<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Taiwanese American Students Association | UT Austin</title>
	<link rel="stylesheet" href="../public/global.css">
	<link rel="shortcut icon" href="../public/favicon.ico">

<style>
/***Home Slide Show Style***/
#container{
	/*Outer red border*/
	border: 5px solid #DF272C;
	border-radius: 10px;
	width:1020px;
	height:500px;
	position:relative;
	z-index: 1;
}

#container ul{
	/*Actual picture's dimensions and specs (slight modification for formatting)*/
	width:1020px;
	height:500px;
	list-style:none outside none;
	position:relative;
	overflow:hidden;
}

#container li:first-child{
	display:list-item;
	position:absolute;
}

#container li{
	position:absolute;
	display:none;
}
</style>
</head>

<body>
	<div class="main-container">

		<!-- HEADER STARTS HERE -->
		<header>
			<div class="wrap clearfix">
				<a id="logo" href="/">
					<img src="../images/logo/logo_inverse_2015.png" width="48px" height="48px">
					<span class="highlight">Taiwanese <span class="white">American</span> Students <span class="white">Association</span> </span>
				</a>
				<ul class="main-nav">
					<li><a class="nav-item" href="../views/about.html">About</a></li>
					<li><a class="nav-item" href="../views/calendar.html">Calendar</a></li>
					<li><a class="nav-item" href="../views/events.html">Events</a></li>
					<li><a class="nav-item" href="../views/alumni.html">Alumni</a></li>
					<li><a class="nav-item" href="../views/family.html">Family</a></li>
					<li><a class="nav-item" href="../views/food.html">Food</a></li>
				</ul>
			</div>
		</header>

		<!-- BODY CONTENT STARTS HERE -->
		<div class="body-content wrap clearfix home load" id="main-container">
			<div class="hero-image">
				<div class="overlay left" z-index="2">
					<div class="overlay-text">
						We are awesome.<br>
						So learn more <span class="highlight"><a href="../views/about.html">about</a></span> us.
					</div>
					<div class="triangle"></div>
				</div>

				<div id = "container">
					<ul>
						<li><img src="../images/hero/90.jpg"></li>
						<li><img src="../images/hero/91.jpg"></li>
						<li><img src="../images/hero/92.jpg"></li>
						<li><img src="../images/hero/93.jpg"></li>
						<li><img src="../images/hero/94.jpg"></li>
						<li><img src="../images/hero/95.jpg"></li>
						<li><img src="../images/hero/96.jpg"></li>
						<li><img src="../images/hero/97.jpg"></li>
					</ul>
				</div>
			</div>

			<div class="overview-container">
				<div class="table clearfix">
					<div class="single">
						<div class="section">Upcoming <span class="highlight"><a href="../views/events.html">Events</a></span></div>
						
						<div class="overview-list-item clearfix" id="jo">
							<img src="../images/icon/trophy.png">
							<h2 class="title"><a href = "../views/apply.html">
								Junior Officer Openings!<br></a>
								<span class="small-font light highlight" style="letter-spacing: -1px;">
									Fall Semester Applications &emsp;&emsp;&emsp;
								</span>
							<h2>
							<p class="subtext">
							Interested in gaining leadership experience? Making a difference in TASA?
							Check out our Junior Officer program to learn more about what we do! 
							There are still openings for the upcoming Fall Semester.<br>
							</p>
						</div>


						<div class="overview-list-item clearfix" id="tea">
							<img src="../images/icon/bubble.png">
							<h2 class="title"><a href = "https://www.facebook.com/events/380745155632989/">
								Tea Haus Fundraiser!<br></a>
								<span class="small-font light highlight" style="letter-spacing: -1px;">
									FRIDAYS ♥ 11AM - 2PM ♥ &emsp;&emsp;&emsp;
								</span>
								<span class="small-font light" style="letter-spacing: -1px; color: black;">
									Jester Center
								</span>	
							<h2>
							<p class="subtext">
							<span style="color: black"><br>~ COMING BACK AGAIN SOON FALL 2017!! ~<br></span>
							
							Heard about the craze with Tea Haus but have no way of getting there?
							Don't fear because WE ARE BRINGING BACK TEA HAUS TO YOU! we'll be selling Tea Haus' Boba Milk Tea every Friday!
							1 for $3 and 3 for $5!<br>
							</p>
						</div>

					</div>
				</div>

				<div class="table clearfix">
					<div class="half">
						<div class="section">Contacts</div>
						<div class="overview-list-item clearfix">
							<img src="../images/portrait/mt.jpg" alt="">
							<h2 class="title">Max Tang <span class="small-font light">President</span></h2>
							<p class="subtext">
								Send all of your general questions and personal fan-mail here!<br>
								Email: tasa.president@gmail.com
							</p>
						</div>
						<div class="overview-list-item clearfix">
							<img src="../images/portrait/ic.jpg" alt="">
							<h2 class="title">Irene Chiang <span class="small-font light">VP-Internal</span></h2>
							<p class="subtext">
								Direct all Junior Officer program and event questions HERE<br>
								Email: tasa.internal@gmail.com
							</p>
						</div>
						<div class="overview-list-item clearfix">
							<img src="../images/portrait/cl.jpg" alt="">
							<h2 class="title">Cynthia Lin <span class="small-font light">VP-External</span></h2>
							<p class="subtext">
								Delegate all cross-club inquires here<br>
								Email: tasa.external@gmail.com
							</p>
						</div>
					</div>
					<div class="half">
						<div class="section">Shoutouts<span class="highlight"></span></div>
						<div class="overview-list-item clearfix">
							<img src="../images/icon/shipwheel.png" alt="">
							<h2 class="title" style="color:#DF272C"><a href="http://itasa.org/">ITASA</a></h2>
							<p class="subtext">
								Want to get involved and connect with college students from across the country? Get started and build your own Taiwanese American community.
							</p>
						</div>
					</div>
				</div>
		    </div>
		</div>

		<!-- FOOTER STARTS HERE -->
		<footer>
			<div class="wrap clearfix table">
				<p class="footer-text">Taiwanese American Students Association 2015-2017</p>
				<div class="social-icon">
					<a href="https://twitter.com/uttasa">
						<img src="../images/logo/twitter.png" alt="Twitter">
					</a>
					<a href="https://www.facebook.com/texastasa">
						<img src="../images/logo/facebook.png" alt="Facebook">
					</a>
					<a href="http://www.youtube.com/channel/UC4tZCO4Es9JZaL4bm9lQPEw">
						<img src="../images/logo/youtube.png" alt="Youtube">
					</a>
					<a href="http://instagram.com/uttasa">
						<img src="../images/logo/instagram.png" alt="Instagram">
					</a>
				</div>
			</div>
		</footer>
	</div>
</body>

<script src="../js/d3-3.5.13.js"></script>
<script src="../js/d3.v3.min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src = "../js/jquery-2.1.4.js"></script>
<script src="../js/tabletop.js"></script>
<script>
/*Stuff for the main slide show*/
 $(window).load(function(){
	var saves = 4;
	var container = document.getElementById('container');
	var list = container.getElementsByTagName('li');
	setInterval(function() { 
		//Randomize and fix if random is the same as saves
		random = Math.floor(Math.random() * list.length);
		if (random == saves) {
			random = (random+1)%list.length;
		}

		$(list[saves]).fadeOut(1500).end().appendTo('#container');//Fade out the current picture
		$(list[random]).fadeIn(1500).end().appendTo('#container');//Fade in the random photo
		saves = random;//Save the random photo number
	},  4500);				
});
/*End of Slide Show*/
</script>
<script>
	window.onload = function (){
		$( "footer" ).insertAfter( "#main-container" );
		var p = document.getElementById("main-container");
		p.className = p.className + "ed";//change from "load" to "loaded"
		console.log("done");
		
		Tabletop.init( { key: URLKey,
                           callback: function(data, tabletop) { printstuff(data); },
                           simpleSheet: true } )
        }
</script>
</html>
